body {
  background-color: burlywood;
  font-family: Verdana, sans-serif;
}

#header {
  background-color: lime;
  text-align: center;
  padding: 10px;
}

#header h1 {
  color: blue;
}

#header blockquote {
  background-color: orange;
  padding: 10px;
  border: 2px dotted black;
}

.menu ul {
  justify-content: center;
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 10px;
}

.gambar {
  text-align: center;
}

.promo {
  font-size: 20px;
}

.isi::first-letter {
  font-size: 50px;
  color: blue;
}

.koleksi {
  text-align: center;
}

.koleksi img {
  width: 20%;
}